<div class="container">

	<h1>Publin - University of Luebeck</h1>
	<p>Description text</p>

	<h2>OAI interface</h2>
	<p>An OAI-PMH interface is available at
		<a href="./oai/?verb=Identify" target="_blank"><?php echo arkuuu\Publin\Config\Config::OAI_BASE_URL ?></a>.
	</p>

	<h2>About Publin</h2>
	<p>Publin allows you to upload and manage scholarly publications and expose them to the web. It is designed to be
	   used
	   by individual authors, groups or institutions. Publin is available at
		<a href="https://github.com/arkuuu/publin" target="_blank">github.com/arkuuu/publin</a>.
	</p>
</div>
