<h1>Publin - Publication Index System</h1>
<p>Publin allows you to upload and manage scholarly publications and expose them to the web. It is designed to be used
	by individual authors, groups or institutions. More information will follow.</p>

<h2>About the project</h2>
		<p>This is a student project by Arne K. for his bachelor thesis at the University of Luebeck. The name "publin" is a short term for "publication index" which is what all this mostly is about. More Information will follow.</p>

		<p>View bachelor thesis: <a href="http://www.ifis.uni-luebeck.de/index.php?id=363" target="_blank">http://www.ifis.uni-luebeck.de/index.php?id=363</a>
		<p>View publin on GitHub: <a href="https://github.com/arkuuu/publin" target="_blank">https://github.com/arkuuu/publin</a></p>


<h2>Frequently Asked Questions</h2>
<ul>
	<li><a id="Test1" href="#Test1">What is this?</a>

		<p>Antwort darauf</p></li>
	<li><a id="Test2" href="#Test2">Testfrage 2</a>

		<p>Antwort darauf</p></li>
	<li><a id="Test3" href="#Test3">Testfrage 3</a>

		<p>Antwort darauf</p></li>
	<li><a id="Test4" href="#Test4">Testfrage 4</a>

		<p>Antwort darauf</p></li>
</ul>
