<h1>Publin - University of Luebeck</h1>
<p>Description text</p>

<h2>OAI interface</h2>
<p>An OAI-PMH interface is available at
    <a href="./oai/?verb=Identify" target="_blank">http://localhost:8888/publin/oai</a>.
</p>

<h2>Frequently Asked Questions</h2>
<ul>
    <li><a id="Test1" href="#Test1">What is this?</a>

        <p>Antwort darauf</p></li>
    <li><a id="Test2" href="#Test2">Testfrage 2</a>

        <p>Antwort darauf</p></li>
    <li><a id="Test3" href="#Test3">Testfrage 3</a>

        <p>Antwort darauf</p></li>
    <li><a id="Test4" href="#Test4">Testfrage 4</a>

        <p>Antwort darauf</p></li>
</ul>

<h2>About Publin</h2>
<p>Publin allows you to upload and manage scholarly publications and expose them to the web. It is designed to be used
    by individual authors, groups or institutions. Publin is available at
    <a href="https://github.com/arkuuu/publin" target="_blank">github.com/arkuuu/publin</a>.
</p>
