<h1><?php echo $this->showName() ?></h1>

<?php if (!$this->isEditMode()) { ?>

<?php if ($this->hasPermission('author_edit')) { ?>
<p><a href="<?php echo $this->showLinkToSelf('edit') ?>">Edit author</a></p>
<?php } ?>

<?php if ($this->showWebsite()) { ?>
<h2>Website</h2>
<p><a href="http://<?php echo $this->showWebsite() ?>" target="_blank"><?php echo $this->showWebsite() ?></a></p>
<?php } ?>

<?php if ($this->showContact()) { ?>
<h2>Contact</h2>
<p><?php echo $this->showContact() ?></p>
<?php } ?>

<?php if ($this->showAbout()) { ?>
<h2>About</h2>
<p><?php echo $this->showAbout() ?></p>
<?php } ?>

<h2>Publications</h2>
<ul>
	<?php echo $this->showPublications() ?>
</ul>
<p class="notice">This list may be incomplete. <a href="#">Find out why.</a></p>

<h2>Search this author in</h2>
<ul>
	<?php echo $this->showBibLinks() ?>
</ul>

<?php } else { ?>
<p><a href="<?php echo $this->showLinkToSelf() ?>">Return to author</a></p>
<h2>Edit this author</h2>
<div class="form">
	<form action="#" method="post" accept-charset="utf-8">
		<label for="given">Given Name:</label>
		<input type="text" name="given" id="given" value="<?php echo $this->showGivenName() ?>"/>
		<br/>
		<label for="family">Family Name:</label>
		<input type="text" name="family" id="family" value="<?php echo $this->showFamilyName() ?>"/>
		<br/>
		<label for="website">Website:</label>
		<input type="text" name="website" id="website" value="<?php echo $this->showWebsite() ?>"/>
		<br/>
		<label for="contact">Contact:</label>
		<textarea name="contact" id="contact" rows="5" cols="50"><?php echo $this->showContact(false) ?></textarea>
		<br/>
		<label for="about">About:</label>
		<textarea name="about" id="about" rows="5" cols="50"><?php echo $this->showAbout(false) ?></textarea>
		<br/>
		<input type="hidden" name="action" value="edit"/>
		<input type="submit" value="Update"/>
		<input type="reset" value="Reset changes"/>
	</form>
</div>
<br/>
<h2>Delete this author</h2>
<?php if ($this->showPublicationsNum() > 0) { ?>
<p>You cannot delete this author because there are publications assigned.</p>

<?php } else { ?>
<p>This will try to delete this author. It will fail if there are any publications assigned to this author.</p>
<form action="#" method="post" accept-charset="utf-8">
	<input type="checkbox" name="delete" id="delete" value="yes"/>
	<label for="delete">Delete the author <?php echo $this->showName() ?></label>
	<br/>
	<input type="hidden" name="action" value="delete"/>
	<input type="submit" value="Delete">
</form>
<?php } ?>
<?php } ?>
