<!DOCTYPE html>
<html lang="en">

<head>
	<title>Publin | <?php echo $this -> showPageTitle() ?></title>
	<meta charset="UTF-8">
	<meta name="description" content="Example page">
	<meta name="keywords" content="Publin">
	<meta name="author" content="Arne K.">
	<?php echo $this -> showMetaTags() ?>

	<link rel="stylesheet" type="text/css" href="<?php echo $this -> getRootUrl() ?>templates/modern/style/modern.css"/>
	<link rel="shortcut icon" href="<?php echo $this -> getRootUrl() ?>templates/modern/images/favicon.ico"/>
</head>

<body>
