<style type="text/css" scoped="scoped">
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}

	th, td {
		text-align: left;
		vertical-align: top;
		padding: 5px;
	}

	td.green {
		background: lightgreen;
		text-align: center;
	}

	td.red {
		background: lightcoral;
		text-align: center;
	}

	table input {
		margin: 0;
	}
</style>
<h1>Manage</h1>
<p>A list of available Roles with their permissions.</p>

<h2>Permissions</h2>
<?php echo $this -> showPermissions() ?>

<h2>Roles</h2>
<p>Create a new role</p>
<form action="#" method="post" accept-charset="utf8">
	<label for="name">Role name:</label>
	<input type="text" name="name" id="name">
	<input type="hidden" name="action" value="addRole">
	<input type="submit" value="Create Role">
</form>
<p>Delete existing roles:</p>
<?php echo $this->showRoles() ?>

<h2>Users</h2>
<?php echo $this -> showUsers() ?>


