<nav class="navbar navbar-inverse navbar-toggleable-md">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Publin
        </a>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <div class="navbar-nav mr-auto">
                <?php echo $this->renderNavItem('search', 'Search') ?>
                <?php echo $this->renderNavItem('browse', 'Browse') ?>
                <?php echo $this->renderNavItem('about', 'About') ?>
            </div>
            <div class="navbar-nav">
                <?php if ($this->showUserName()) { ?>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php echo $this->showUserName() ?>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userMenu">
                        <?php echo $this->hasPermission('publication_submit') ? $this->renderDropdownItem('submit', 'Submit') : '' ?>
                        <?php echo $this->hasPermission('manage') ? $this->renderDropdownItem('manage', 'Manage') : ''?>
                        <?php echo $this->renderDropdownItem('user', 'Settings') ?>
                        <?php echo $this->renderDropdownItem('logout', 'Logout') ?>
                    </div>
                </div>
                <?php } else { echo $this->renderNavItem('login', 'Login'); }?>
            </div>
        </div>
    </div>
</nav>

<div class="row"></div>

<?php echo $this->showErrors() ?>
