	<div id="top">
		<div class="content">
			<div id="logo"></div>
			<div id="nav">
			<ul>
				<li><a href="./?p=start">Start</a></li>
				<li><a href="#">Search</a></li>	
				<li><a href="./?p=browse">Browse</a></li>
				<li><a href="./?p=submit">Submit</a></li>	
				<li><a href="./?p=about">About</a></li>	
			</ul>
		</div>
		<div id="login">
			<ul>
				<?php echo $this -> showUserName() ? '<li><a href="#">'.$this -> showUserName().'</a></li>' : ''?>
				<?php echo $this -> showUserName() ? '<li><a href="./?p=logout">Logout</a></li>' : '<li><a href="./?p=login">Login</a></li>'?>
			</ul>
		</div>
		<div class="clearBoth"></div>
		</div>
	</div>
	<div id="right">
		<div class="content">
