<script type="text/javascript" src="./templates/default/jquery.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('.export textarea').hide();
		$('.export a').click(function (e) {
			e.preventDefault();
			var textarea = $(this).attr('class');
			$('textarea.' + textarea).toggle(400);
		});
	});
</script>

<h1><?php echo $this -> showTitle() ? $this -> showTitle() : 'Unknown Title' ?></h1>
<?php if (!$this->isEditMode()) { ?>

<?php if ($this->hasPermission('publication_edit')) { ?>
<p><a href="<?php echo $this->showLinkToSelf('edit') ?>">Edit publication</a></p>
<?php } ?>

<h2>Details</h2>
<table class="publicationDetails">
	<?php
	echo $this -> showAuthors() ? '
	<tr>
		<th>Authors</th>
		<td>'.$this -> showAuthors().'</td>
	</tr>
				  ' : '';
				  echo $this -> showJournal() ? '
	<tr>
		<th>Journal</th>
		<td>'.$this -> showJournal().'</td>
	</tr>
				  ' : '';
				  echo $this -> showVolume() ? '
	<tr>
		<th>Volume</th>
		<td>'.$this -> showVolume().'</td>
	</tr>
				  ' : '';
				  echo $this -> showNumber() ? '
	<tr>
		<th>Number</th>
		<td>'.$this -> showNumber().'</td>
	</tr>
				  ' : '';
				  echo $this -> showBooktitle() ? '
	<tr>
		<th>Booktitle</th>
		<td>'.$this -> showBooktitle().'</td>
	</tr>
				  ' : '';
				  echo $this -> showSeries() ? '
	<tr>
		<th>Series</th>
		<td>'.$this -> showSeries().'</td>
	</tr>
				  ' : '';
				  echo $this -> showEdition() ? '
	<tr>
		<th>Edition</th>
		<td>'.$this -> showEdition().'</td>
	</tr>
				  ' : '';
				  echo $this -> showPages() ? '
	<tr>
		<th>Pages</th>
		<td>'.$this -> showPages().'</td>
	</tr>
				  ' : '';
				  echo $this -> showNote() ? '
	<tr>
		<th>Note</th>
		<td>'.$this -> showNote().'</td>
	</tr>
				  ' : '';
				  echo $this -> showLocation() ? '
	<tr>
		<th>Location</th>
		<td>'.$this -> showLocation().'</td>
	</tr>
				  ' : '';

				  echo $this -> showDatePublished() ? '
	<tr>
		<th>Date</th>
		<td>'.$this -> showDatePublished().'</td>
	</tr>
				  ' : '';

				  echo $this -> showPublisher() ? '
	<tr>
		<th>Publisher</th>
		<td>'.$this -> showPublisher().'</td>
	</tr>
				  ' : '';
				  echo $this -> showInstitution() ? '
	<tr>
		<th>Institution</th>
		<td>'.$this -> showInstitution().'</td>
	</tr>
				  ' : '';
				  echo $this -> showSchool() ? '
	<tr>
		<th>School</th>
		<td>'.$this -> showSchool().'</td>
	</tr>
				  ' : '';
				  echo $this -> showAddress() ? '
	<tr>
		<th>Address</th>
		<td>'.$this -> showAddress().'</td>
	</tr>
				  ' : '';
				  echo $this -> showHowpublished() ? '
	<tr>
		<th>Howpublished</th>
		<td>'.$this -> showHowpublished().'</td>
	</tr>
				  ' : '';
				  echo $this -> showCopyright() ? '
	<tr>
		<th>Copyright</th>
		<td>'.$this -> showCopyright().'</td>
	</tr>
				  ' : '';
				  echo $this -> showDoi() ? '
	<tr>
		<th>DOI</th>
		<td>'.$this -> showDoi().'</td>
	</tr>
				  ' : '';
				  echo $this -> showIsbn() ? '
	<tr>
		<th>ISBN</th>
		<td>'.$this -> showIsbn().'</td>
	</tr>
				  ' : '';

				  echo $this -> showStudyField() ? '
	<tr>
		<th>Field of Study</th>
		<td>'.$this -> showStudyField().'</td>
	</tr>
				  ' : '';
				  echo $this -> showType() ? '
	<tr>
		<th>Type</th>
		<td>'.$this -> showType().'</td>
	</tr>
				  ' : '';
				  ?>
</table>

<?php if ($this -> showAbstract()) { ?>
<h2>Abstract</h2>
<p><?php echo $this -> showAbstract() ?></p>
<?php } ?>

<?php if ($this -> showFiles()) { ?>
<h2>Downloads</h2>
<ul>
	<?php echo $this -> showFiles() ?>
</ul>
<?php } ?>

<?php if ($this -> showKeywords()) { ?>
<h2>Keywords</h2>
<p><?php echo $this -> showKeywords() ?></p>
<?php } ?>

<h2>Cite this publication</h2>
<div class="export">
	<ul>
		<li>
			<a href="#" class="bibtex">BibTeX</a><br/>
			<textarea class="bibtex" rows="10" cols="80" readonly><?php echo $this->showExport('Bibtex') ?></textarea>
		</li>
		<li>
			<a href="#" class="ris">RIS</a><br/>
			<textarea class="ris" rows="10" cols="80" readonly><?php echo $this->showExport('RIS') ?></textarea>
		</li>
		<li>
			<a href="#" class="dblp-xml">DBLP XML</a><br/>
			<textarea class="dblp-xml" rows="10" cols="80" readonly><?php echo $this->
				showExport('DBLPXML') ?></textarea>
		</li>
		<li>
			<a href="#" class="dc-xml">DublinCore XML</a><br/>
			<textarea class="dc-xml" rows="10" cols="80" readonly><?php echo $this->
				showExport('DublinCoreXML') ?></textarea>
		</li>
		<li>
			<a href="#" class="csl-json">CSL Json</a><br/>
			<textarea class="csl-json" rows="10" cols="80" readonly><?php echo $this->
				showExport('CSLJson') ?></textarea>
		</li>
	</ul>
</div>

<h2>Search this publication in</h2>
<ul><?php echo $this -> showBibLinks() ?></ul>


<?php } else { ?>
<p><a href="<?php echo $this->showLinkToSelf() ?>">Return to publication</a></p>
<h2>Edit this publication</h2>
<div class="form">
	<?php echo $this->showEditForm(); ?>
</div>
<br/>

<h2>Add or remove authors</h2>
<ul>
	<?php echo $this->showEditAuthors(); ?>
</ul>

<h2>Add or remove files</h2>
<ul>
	<?php echo $this->showEditFiles(); ?>
</ul>

<h2>Add or remove keywords</h2>
<ul>
	<?php echo $this->showEditKeywords(); ?>
</ul>


<h2>Delete this publication</h2>
<p>This will permanently delete this publication.</p>
<form action="#" method="post" accept-charset="utf-8">
	<input type="checkbox" name="delete" id="delete" value="yes"/>
	<label for="delete">Delete the publication <b><?php echo $this->showTitle() ?></b></label>
	<br/>
	<input type="hidden" name="action" value="delete"/>
	<input type="submit" value="Delete">
</form>
<?php } ?>
