<h1>Search publin</h1>
<form action="?p=search" method="get">
	<input type="hidden" name="p" value="search"/>
	<label for="search_string">Search for</label>
	<input type="text" id="search_string" name="search_string" placeholder="search string"/>
	<label for="search_type">in</label>
	<select name="search_type" id="search_type">
		<option selected>all</option>
		<option>publications</option>
		<option>authors</option>
		<option>keywords</option>
	</select>
	<input type="submit" value="Search"/>
</form><br/>

<!--<h1>Advanced Search</h1>
<p>Search for publication with the following attributes:</p>
<ul>
	<li>
		<select name="field">
			<option>Title</option>
			<option>Author</option>
			<option>Publication Date</option>
			<option>Booktitle/Conference</option>
			<option>Journal</option>
			<option>Publisher</option>
			<option>Abstract</option>
			<option>Keywords</option>
		</select>
		<label for="field_string">matches</label>
		<input type="text" id="field_string" name="field_string" placeholder="search string"/>
	</li>
</ul>-->

<h1>Results</h1>
<p>No results found</p>
