	<h1><?php echo $this -> showName() ?></h1>
	<?php if ($this -> showWebsite()) { ?>
	<p><?php echo $this -> showWebsite() ?></p>
	<?php } ?>

	<?php if ($this -> showContact()) { ?>
	<h2>Contact</h2>
	<p><?php echo $this -> showContact() ?></p>
	<?php } ?>

	<?php if ($this -> showAbout()) { ?>
	<h2>About this author</h2>
	<p><?php echo $this -> showAbout() ?></p>
	<?php } ?>

	<h2>Publications</h2>
	<ul>
		<?php echo $this -> showPublications() ?>
	</ul>
	<p>This list may be incomplete. <a href="#">Find out why.</a></p>

	<h2>Search this author in</h2>
	<ul>
		<?php echo $this -> showBibLinks() ?>
	</ul>
