	<div id="left"></div>
	<div id="menu">
		<div id="logo">&nbsp;</div>
		<h1>publin alpha</h1>
		<ul>
			<li><a href="./?p=start">Start</a></li>
			<!-- <li>Search</li> -->
			<li><a href="./?p=browse&amp;by=recent">Recent</a></li>	
			<li><a href="./?p=browse">Browse by</a>
				<ul>
					<li><a href="./?p=browse&amp;by=author">Author</a></li>
					<!-- <li>Conference</li> -->
					<!-- <li>Journal</li> -->
					<!-- <li>Year</li> -->
					<li><a href="./?p=browse&amp;by=study_field">Field of Study</a></li>
					<li><a href="./?p=browse&amp;by=key_term">Key Terms</a></li>		
					<!-- <li>Type</li>		 -->
				</ul>
			</li>
			<li><a href="./?p=about">About</a></li>	
		</ul>
	</div>
	<div id="right">
