	<div id="left"></div>
	<div id="menu">
		<div id="logo">&nbsp;</div>
		<h1>publin alpha</h1>
		<ul>
			<li><a href="./?p=start">Start</a></li>
			<!-- <li>Search</li> -->
			<li><a href="./?p=browse&amp;by=recent">Recent</a></li>
			<li><a href="./?p=browse">Browse</a>
				<ul>
					<li><a href="./?p=browse&amp;by=author">Authors</a></li>
					<!-- <li>Conference</li> -->
					<li><a href="./?p=browse&amp;by=journal">Journals</a></li>
					<li><a href="./?p=browse&amp;by=publisher">Publishers</a></li>
					<li><a href="./?p=browse&amp;by=year">Years</a></li>
					<li><a href="./?p=browse&amp;by=type">Types</a></li>
					<li><a href="./?p=browse&amp;by=key_term">Key Terms</a></li>
					<li><a href="./?p=browse&amp;by=study_field">Fields of Study</a></li>
				</ul>
			</li>
			<li><a href="./?p=submit">Submit</a></li>
			<li><a href="./?p=about">About</a></li>
		</ul>
	</div>
	<div id="pageContent">
