
	<h1><?php echo $this -> showTitle() ?></h1>
	<p>by: <?php echo $this -> showAuthors() ?>
		<br/>published: <?php echo $this -> showDatePublished() ?>
		<br/>in: <?php echo $this -> showJournal() ?>
		<br/>type: <?php echo $this -> showType() ?></p>

	<h2>Abstract</h2>
	<p><?php echo $this -> showAbstract() ?></p>

	<h2>References</h2>
	<ul><?php echo $this -> showReferences() ?></ul>


	<h2>Key Terms</h2>
	<p><?php echo $this -> showKeyTerms() ?></p>


	<h2>Export this publication</h2>
	<ul>
		<li>BibTeX:<br/><textarea rows="6" cols="60" readonly><?php echo $this -> showExport('bibtex') ?></textarea></li>
	</ul>


	<h2>Search this publication in</h2>
	<ul><?php echo $this -> showBibLinks() ?></ul>
