	<?php if ($this -> isForm()) { ?>
	<script type="text/javascript" src="./templates/default/jquery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$('.multi-field-wrapper').each(function() {
				var $wrapper = $('.multi-fields', this);
				$('.add-field', $(this)).click(function(e) {
					e.preventDefault();
					$('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('input').val('').removeAttr('required').focus();
				});
				$('.multi-field .remove-field', $wrapper).click(function(e) {
					e.preventDefault();
					if ($('.multi-field', $wrapper).length > 1)
						$(this).parent('.multi-field').remove();
				});
			});

			var showFormFields = function(show_time) {
				var type = $('.type-selector').find(':selected').val();
	
				if (type) {
					$('.'+type).show(show_time);
				};
			};

			var hideFormFields = function(hide_time) {
				$('.article, .book, .incollection, .inproceedings, .masterthesis, .misc, .phdthesis, .techreport, .unpublished').hide(hide_time);
			};


			hideFormFields(0);
			showFormFields(0);

			$('.type-selector').change(function() {
				hideFormFields(200);
				showFormFields(400);
			});
	
		
		});
	</script>

	<h1>Submit publication</h1>
	<p>Here comes the great form.</p>
	<?php echo $this -> listErrors() ? '<p>Check these errors:</p><ul>'.$this -> listErrors().'</ul>' : '' ?>
	
	<form action="?p=submit&amp;m=preview" method="post" accept-charset="utf-8">

	<h2>General</h2>
	<p>More Information to come here.</p>

	<div class="form">
		<label for="type">Type:</label>
		<select class="type-selector" name="type" id="type" size="1" >
				<?php echo $this -> listTypeOptions() ?>
		</select><br/>

		<label for="study_field">Field of Study:</label>
		<select name="study_field" id="study_field" size="1" >
				<?php echo $this -> listStudyFieldOptions() ?>
		</select><br/>

		<div>
			<label for="date_published">Publication Date:</label>
			<input type="text" name="date_published" id="date_published" placeholder="YYYY-MM-DD" value="<?php echo $this -> showPostValue('date_published') ?>"/>
			<br/>
		</div>

		<div>
			<label for="title">Title:</label>
			<input type="text" name="title" id="title" maxlength="200" value="<?php echo $this -> showPostValue('title') ?>"/>
			<br/>
		</div>

		<div class="article">
			<label for="journal">Journal:</label>
			<input type="text" name="journal" id="journal" maxlength="200" value="<?php echo $this -> showPostValue('journal') ?>"/>
			<br/>
		</div>
		
		<div class="incollection inproceedings">
			<label for="booktitle">Book Title:</label>
			<input type="text" name="booktitle" id="booktitle" maxlength="200" value="<?php echo $this -> showPostValue('booktitle') ?>"/>
			<br/>
		</div>

		<div class="article book incollection inproceedings">
			<label for="publisher">Publisher:</label>
			<input type="text" name="publisher" id="publisher" maxlength="200" value="<?php echo $this -> showPostValue('publisher') ?>"/>
			<br/>
		</div>

		<div class="book">
			<label for="edition">Edition:</label>
			<input type="text" name="edition" id="edition" value="<?php echo $this -> showPostValue('edition') ?>"/>
			<br/>
		</div>

		<div class="masterthesis phdthesis techreport">
			<label for="institution">Institution:</label>
			<input type="text" name="institution" id="institution" maxlength="200" value="<?php echo $this -> showPostValue('institution') ?>"/>
			<br/>
		</div>

		<div class="misc">
			<label for="howpublished">How published:</label>
			<input type="text" name="howpublished" id="howpublished" maxlength="200" value="<?php echo $this -> showPostValue('howpublished') ?>"/>
			<br/>
		</div>

		<div class="incollection inproceedings">
			<label for="pages_from">Pages:</label>
			<div>
				<input type="number" name="pages[from]" id="pages_from" min="0" placeholder="12" value="<?php echo $this -> showPostValue('pages', 'from') ?>"/>
				<input type="number" name="pages[to]" id="pages_to" min="0" placeholder="23" style="margin-left:10px" value="<?php echo $this -> showPostValue('pages', 'to') ?>"/>
			</div>
			<br/>
		</div>

		<div class="article book">
			<label for="volume">Volume:</label>
			<input type="number" name="volume" id="volume" min="0" value="<?php echo $this -> showPostValue('volume') ?>"/>
			<br/>
		</div>

		<div class="article techreport">
			<label for="number">Number:</label>
			<input type="number" name="number" id="number" min="0" value="<?php echo $this -> showPostValue('number') ?>"/>
			<br/>
		</div>	

		<div class="book">
			<label for="series">Series:</label>
			<input type="number" name="series" id="series" min="0" value="<?php echo $this -> showPostValue('series') ?>"/>
			<br/>
		</div>

	</div>

	<h2>Authors</h2>
	<p>More information to come here. <a href="?p=browse&amp;by=author" target="_blank">Show list of authors</a></p>
	<div class="multi-field-wrapper">
		<ul class="multi-fields">
			<?php echo $this -> listAuthors() ?>
		  </ul>
		<button type="button" class="add-field">Add field</button>
	</div>

	<h2>Key Terms</h2>
	<p>More information to come here. <a href="?p=browse&amp;by=key_term" target="_blank">Show list of key terms</a></p>
	<div class="multi-field-wrapper">
		<ul class="multi-fields">
			<?php echo $this -> listKeyTerms() ?>
		</ul>
		<button type="button" class="add-field">Add field</button>
	</div>

	<h2>Abstract</h2>
	<p>More Information to come here.</p>
	<textarea name ="abstract" rows="10" cols="80"><?php echo $this -> showPostValue('abstract') ?></textarea>

	<h2>References</h2>
	<p>More Information to come here.</p>
	<p>TODO</p>

	<h2>Submit</h2>
	<p>You can review your submission on the next page.</P>
	<input type="submit" value="Preview"/>
	</form>



	<?php } else if ($this -> isBibtex()) { ?>
	<h1>Submit publication</h1>
	<p>Here you can input a single BibTeX entry. Data will be imported and can be checked and modified later.</p>
	<form action="?p=submit&amp;m=form" method="post" accept-charset="utf-8">
		<textarea name="bibtex" rows="10" cols="80"></textarea><br/>
		<input type="submit" value="Import">
	</form>



	<?php } else if ($this -> isPreview()) { ?>
	<h1>Preview of your submission</h1>
	<p>Below you can see what you submission will look like and check it one last time. You will not be able to make any changes after submitting without contacting an administrator.</p>

	<form action="?p=submit&amp;m=done" method="post" accept-charset="utf-8">
		<input type="checkbox" name="accept" id="accept" value="yes"/>
		<label for="accept">I did proof-read my input and everything is correct.</label>
		<br/><br/>
		<input type="submit" value="Submit">
	</form>
	<form action="?p=submit&amp;m=form" method="post" accept-charset="utf-8">
		<input type="submit" value="Go back">
	</form>
	<br /><br/>
	<?php echo $this -> showPreview() ?>



	<?php } else if ($this -> isDone()) { ?>
	<h1>Submit publication</h1>
	<p>Your submission was successfully added.</p>


	<?php } else { ?>
	<h1>Submit publication</h1>
	<p>Here you can submit a publication.</p>
	<p><a href="?p=submit&amp;m=form">Submit via input form</a></p>
	<p><a href="?p=submit&amp;m=bibtex">Submit via BibTeX import</a></p>
	<?php } ?>
