/*
Usable colors of the University of Lübeck's Corporate Design:

Dark green: #004b5a
Light green-grey: #D6DFE4
Light grey: #e4e4e4
*/


.row {
    margin-bottom: 2rem;
}
.spacer-xs {
    margin-bottom: 1rem;
}
.spacer-sm {
    margin-bottom: 1.5rem;
}

.navbar {
    background-color: #004b5a;
}

#loginForm {
    /* Center horizontally */
    max-width: 200px;
    margin: 0 auto;
}

.card-block :last-child {
    margin-bottom: 0;
}

.card > .list-group .list-group-item {
    border-left-width: 0;
    border-right-width: 0;
}
.card > .list-group .list-group-item:last-child {
    border-bottom-width: 0;
}

.card > .list-group .list-group-item:first-child {
    border-top-width: 0;
}

div.clearBoth {
    clear: both;
}


h1, h2, a, a:hover, a:active {
    color: #004b5a;

}

input, label {
    margin-right: 5px;
    margin-bottom: 10px;
}

/*	Other stuff */
div.form ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.form label, div.form input {
    display: block;
    width: 400px;
    float: left;
}

div.form label {
    width: 150px;
    text-align: left;
}

div.form li input {
    width: 250px;
    margin-bottom: 0;
}

div.form br {
    clear: left;
}

div.form p {
    clear: left;
}

div.form input[type=number] {
    width: 50px;
}

div.form input[type=button],
div.form input[type=submit],
div.form input[type=reset] {
    width: auto;
}

div.form select {
    width: 200px;
}

.notice {
    font-size: small;
}

div.error {
    color: darkred;
    background-color: rgba(187, 6, 15, 0.27);
    border: 1px solid darkred;
    padding-top: 5px;
    text-align: center;
}

div.error .message {
    font-weight: bold;
}

div.error li {
    text-align: left;
}

.success {
    color: greenyellow;
}

/* Citation stuff */
div.citation .title {
    /* can't change stuff already defined by the a element */
    font-weight: bold;
}

div.citation .authors {
}

div.citation .year {
}

div.citation .journal {
    font-style: italic;
}

div.citation .volume {
    font-style: italic;
}

div.citation .number {
}

div.citation .booktitle {
}

div.citation .pages {
}

div.citation .links {
    font-size: smaller;
}

table.publicationDetails {
}

table.publicationDetails th {
    text-align: left;
    font-weight: normal;
    font-size: small;
    padding-right: 5px;
}

