		<h1>About the publin project</h1>
		<p>This is a student project by Arne K. for his bachelor thesis at the University of Luebeck.<br/>The name "publin" is a short term for "publication index" which is what all this mostly is about. More Information will follow.</p>

		<p>View bachelor thesis: <a href="http://www.ifis.uni-luebeck.de/index.php?id=363" target="_blank">http://www.ifis.uni-luebeck.de/index.php?id=363</a>
		<p>View publin on GitHub: <a href="https://github.com/arkuuu/publin" target="_blank">https://github.com/arkuuu/publin</a></p>
